body {
    font-size: 16px;
}
nav {
    display: block;
    background-color: darkblue;
}

ul {
    display: inline-block;
    list-style: none;
}

li {
    background-color: #7393B3;
    float: left;
    margin-right: 40px;
    text-transform: uppercase;
    padding: 10px;
}

.currentPage {
    background-color: darkred;
}

input[type=search] {
    border: 1px solid #eee;
}
input[type=search]:focus {
    outline: none;
    border: 2px solid aqua;
}

li:hover {
    background-color: lightblue;
}

a {
    color: #000;
    text-decoration: none;
}

.blue:hover {
    color: lightblue;
    font-weight: bold;
}

.red:active {
    color: red;
    font-style: italic;
}

.yellow:visited {
    color: yellow;
}

input[type=text] {
    width: 24%;
    padding: 10px;
    border: 1px solid #eee;
}

input[type=text]:focus {
    width: 24%;
    padding: 10px;
    color: green;
    font-size: 20px;
    outline: 0nonepx;
}

